.app-wrapper {
    background-color: #e1e1e1;
    position: relative;

}

.container {
    max-width: 1200px;
    margin: 0 auto;


}

.section {
    display: flex;
    gap: 15px;
    padding: 15px 0;

}

.footer {
    background-color: #238594;
    height: 50px;


}